.example {
  display: inline-block;
  color: #68688a;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.4;
  padding-bottom: 8px;
  word-break: break-all;
}

.example::before {
  content: "例: ";
}

.error {
  color: var(--color-error);
  font-size: 1.2rem;
}