:root {
  --color: #563bff;
  --color-link: #563bff;
  --color-table: #563bff;
  --color-text: #21213b;
  --color-loader: #563bff;
  --color-error: #ff1f4d;
  --width-card-wide: 100%;
  font-size: 62.5%;

  /* Cancel MVP.css DarkMode */
  --color-accent: #118bee15;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-text-secondary: #999;
}

body {
  font-size: 1.6rem;
}

form {
  border: none;
  padding: 0 1px;
  box-shadow: none;
}

button[type='reset'] {
  color: var(--color);
  border: 1px solid var(--color);
  background-color: #fff;
}

/* microCMS input style */
input {
  padding: 16px;
  border: 1px solid #cdcde0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  min-width: 240px;
  height: 40px;
  font-size: 16px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
}

select {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  min-width: 240px;
  height: 40px;
  font-size: 16px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
}

input:focus,
select:focus {
  outline: 1px solid #563bff;
}
